@import 'vars';
@import 'fonts';
@import 'iconmoon';
@import 'libs';

body {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  width: 100%;
  background: transparent;
  z-index: 999;
  padding: 20px 0;
  transition: 0.5s;
}

.sec-spacer {
  padding: 100px 0;
}

.logo {
  margin-top: 10px;
  img {
    height: auto;
    @include media-breakpoint-up(sm) {
      height: 65px;
    }
  }
}

.mobilebutton {
  display: flex;
  justify-content: flex-end;
  button:focus {
    outline: none;
  }
}

.nav-menu {
  text-align: right;
  li {
    display: inline-block;
    font-size: 14px;
    margin-left: 22px;
    a {
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 70px;
    }
  }
}

.full-screenbg {
  font-weight: normal;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 125vh;
  margin-top: -25vh;
  position: relative;
  z-index: 1;
  .social-icons {
    &-desktop {
      position: absolute;
      bottom: 0;
      li {
        margin-top: 15px;
      }
      a {
        position: relative;
        &:hover {
          & > span {
            display: block;
          }
        }
        & > span {
          position: absolute;
          left: 43px;
          top: -30px;
          color: #ffffff;
          display: none;
        }
      }
    }
    &-mobile {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
        ul {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
  .title {
    font-weight: 600;
    padding-top: 10vh;
    font-size: 50px;
    line-height: 60px;
    color: white;
    @include media-breakpoint-down(lg) {
      padding-top: 5vh;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 5px;
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
    }
  }

  .subtitle {
    font-weight: 100;
    font-size: 40px;
    @include media-breakpoint-down(xs) {
      font-size: 18px;
    }
  }
  .text {
    font-weight: 100;
    font-size: 24px;
    color: white;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

.inner {
  position: relative;
  overflow: hidden;
  // padding-bottom: 24vh;
  width: 100%;
  top: calc(25vh + 125px);
  @include media-breakpoint-down(md) {
    top: calc(25vh + 125px);
  }
}

.iphone {
  height: 75vh;
  display: block;
  float: right;
  @include media-breakpoint-down(lg) {
    float: none;
    margin: 0 auto;
    height: 70vh;
  }
  @include media-breakpoint-down(md) {
    height: 65vh;
  }
  @include media-breakpoint-down(sm) {
    height: 55vh;
  }
  // margin: 0 auto;
}

.app-btn {
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  &-mobile {
    display: none;
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.description {
  height: 25vh;
  padding-top: 50px;
}

.navbar {
  justify-content: flex-end;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.navbar-toggler {
  border-color: white;
}

.ipad {
  margin-top: 12vh;
  height: 28vh;
}

.text {
  color: #ff9800;
  font-size: 16px;
}

.skew-overlay-right:after {
  background: #573402 !important;
}

.contact-section .footer-bottom.footer-bottom2 {
  padding-top: 0;
}

.rs-count {
  width: 100%;
  & div {
    float: left;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;

  a {
    font-weight: bold;
    color: white;
    &:hover {
      color: #ea9308;
    }
  }
  & > li {
    padding: 20px 0px 20px 20px;
  }
}
.language {
  position: relative;
  padding-left: 100px !important;
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-left: 0 !important;
      margin-right: 20px;
    }
  }
}

.features-app-section {
  background-image: url('../images/coffe1.png') !important;
  background-repeat: no-repeat;
  margin-top: -10vh;
  .features-service {
    &.text-left {
      .features-content {
        @include media-breakpoint-down(lg) {
          padding-left: 75px !important;
        }
        @include media-breakpoint-down(md) {
          padding: 0 !important;
        }
      }
    }
    &.text-right {
      .features-content {
        @include media-breakpoint-down(lg) {
          padding-right: 75px !important;
        }
        @include media-breakpoint-down(md) {
          padding: 0 !important;
        }
      }
    }
    .features-content {
      @include media-breakpoint-down(lg) {
        p {
          font-size: 16px !important;
        }
        h3 {
          font-size: 19px !important;
        }
      }
      @include media-breakpoint-down(md) {
        text-align: center;
        p {
          font-size: 16px;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      padding: 20px 0 15px;
    }
  }

  .features-icon {
    right: 10px;
    text-align: center;

    img {
      height: 85px;
      @include media-breakpoint-down(lg) {
        height: 60px;
        display: inline-block;
      }
    }
    @include media-breakpoint-down(md) {
      position: static !important;
      padding-bottom: 16px;
    }
  }

  .feture-mid-images {
    img {
      height: 57vh;
      @include media-breakpoint-down(lg) {
        height: auto;
      }
      @include media-breakpoint-down(md) {
        // height: auto;
        display: none;
      }
    }
  }
}

.overlay {
  background: #ea9308;
  opacity: 0.95;
}

.faq-section {
  background-image: url('../images/bg2.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: -10vh;
  &.sec-spacer {
    padding: 100px 0 50px 0;
  }
}

.faq-section .panel {
  border: none;
}

.faq-section {
  .panel .panel-heading h4.panel-title a {
    background: $main;
    border-radius: 10px;
  }
  .card {
    background-color: transparent;
    border: none;
  }
  .card + .card {
    margin-top: 18px;
  }
  .card-header {
    background-color: $main;
    border-radius: 10px;
    border-bottom: none;
    padding: 12px 20px;
    @include media-breakpoint-down(sm) {
      border-radius: 7px;
      padding: 10px 15px;
      display: inherit;
    }
    .btn-link {
      color: white;
      font-size: 16px;
      width: 100%;
      text-align: left;
      padding: 0;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      &::after {
        content: '\f054';
        font-family: 'FontAwesome';
        color: #ffffff;
        float: right;
      }
      @include media-breakpoint-down(sm) {
        font-size: 13px;
      }
    }
    &.active {
      .btn-link::after {
        content: '\f078';
      }
    }
  }
  .card-body {
    color: black;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .faq-img {
    margin-top: -50px;
    @include media-breakpoint-down(lg) {
      padding-top: 30px;
      margin-top: 0;
      // img {
      //   display: block;
      //   margin: 0 auto;
      // }
    }
  }
}

.gallery-section {
  background-image: url('../images/bg3.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: -10vh;
  padding-bottom: 150px;
  @media (min-width: 2200px) {
    // margin-top: -19vh;
    background-image: url('../images/bg3_big.png');
    padding-bottom: 230px;
  }
}

.about-section {
  background-image: url('../images/coffe1.png') !important;
  background-repeat: no-repeat;
  margin-top: -10vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 100px;
}

.google-store-section {
  background-image: url('../images/coffe1.png') !important;
  background-repeat: no-repeat;
  margin-top: -10vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  padding: 170px 0;
}

.contact-section2 {
  background-image: url('../images/bg4.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: -10vh;
  color: black;
}

.contact-link {
  display: inline-block;
  margin-bottom: 35px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 45px;
  }

  &__thumb {
    margin-bottom: 30px;
    @include media-breakpoint-down(sm) {
      height: 150px;
      width: 150px;
      margin-bottom: 20px;
    }
  }
  &__btn {
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px 5px;
    background-color: #f8f8f8;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.35);
    &--viber {
      color: #7c519b;
    }

    &--messenger {
      color: #0084ff;
    }

    &--telegram {
      color: #2da5e1;
    }
    &:hover {
      color: $main;
    }
  }
}

.contact-text {
  font-size: 24px;
  letter-spacing: 1px;
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

.contact-phone {
  &__list {
    display: flex;
    justify-content: space-around;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  &__item {
    font-size: 24px;
    text-align: center;
    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
    }
    img {
      margin-right: 20px;
      @include media-breakpoint-down(md) {
        margin: 0 auto;
        margin-bottom: 15px;
      }
    }
  }
}

.heading-section-center {
  @include media-breakpoint-down(md) {
    padding-bottom: 10px;
    width: 100%;
  }
  .subtitle-heading {
    font-size: 22px;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
  .title-heading {
    @include media-breakpoint-down(sm) {
      font-size: 22px;
      line-height: 22px;
    }
  }
}

.sub-title {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
    // line-height: 1;
    letter-spacing: normal;
  }
}

.content-container {
  @include make-container();
  max-width: 1400px;
  @media (min-width: 1600px) {
    max-width: 1600px;
  }
}
.features-app-section.features-app-section2 {
  .features-service {
    font-size: 18px;
    font-weight: 100;
    border-radius: 7px;
    &:hover {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    }
    .features-icon {
      right: 7px;
      margin-left: -6px;
    }
  }
}

.gallery-section .single-gallery {
  border: none;
}

.about-section {
  .about-details2 {
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
    .about-list {
      padding-left: 4rem;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
      li {
        padding-left: 55px !important;
        margin-bottom: 10px;
        padding-top: 4px;
        padding-bottom: 0;
        @include media-breakpoint-down(sm) {
          padding-left: 40px;
          margin-bottom: 3px;
          padding-top: 3px;
        }
      }
    }
  }
  .about-details2 ul.about-list li:before {
    content: '\e905';
    color: #f8f8f8;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 40px;
    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }
}

.about-details2 {
  font-size: 20px;
}

.about-content {
  margin-bottom: 3rem;
}

.about-img {
  img {
    // height: 70vh;
    float: right;
    @include media-breakpoint-down(lg) {
      float: none;
      display: block;
      margin: 0 auto;
      height: 70vh;
    }
    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }
}

.google-store-section .store-images {
  li:not(:last-child) {
    margin-right: 50px;
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

#scrollUp {
  i {
    background: linear-gradient(135deg, #ff6d00, #ffb74d);
    box-shadow: 0px 12px 26px 0px rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 50px;
    font-size: 35px;
    line-height: 43px;
  }
}

@import 'media'; // Always at the end
