@import 'vars';
@import 'fonts';
@import 'libs';

html,
body {
  // overflow-x: inherit !important;
}

body {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 999;
  padding: 20px 0;
  transition: 0.5s;
}

.logo {
  margin-top: 10px;
  img {
    height: 65px;
  }
}

.nav-menu {
  text-align: right;
  li {
    display: inline-block;
    font-size: 14px;
    margin-left: 22px;
    a {
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 70px;
    }
  }
}

.full-screenbg {
  font-weight: normal;
  background-image: url('../img/kawa/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 125vh;
  margin-top: -25vh;
  position: relative;
  z-index: 1;
  .social-icons {
    position: absolute;
    bottom: 0;
  }
  .title {
    font-weight: 600;
    @include media-breakpoint-down(sm) {
      padding-top: 5px;
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
    }
  }

  .subtitle {
    font-weight: 100;
    @include media-breakpoint-down(xs) {
      font-size: 18px;
    }
  }
  .text {
    font-weight: 100;
    font-size: 28px;
    color: white;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

.inner {
  position: relative;
  overflow: hidden;
  // padding-bottom: 24vh;
  width: 100%;
  top: calc(25vh + 150px);
  @include media-breakpoint-down(md) {
    top: calc(25vh + 150px);
  }
}

.title {
  padding-top: 10vh;
  font-size: 50px;
  line-height: 60px;
  color: white;
}

.subtitle {
  font-size: 48px;
  color: white;
}
.iphone {
  height: 75vh;
  display: block;
  @include media-breakpoint-down(lg) {
    height: 70vh;
  }
  @include media-breakpoint-down(md) {
    height: 65vh;
  }
  @include media-breakpoint-down(sm) {
    height: 55vh;
  }
  // margin: 0 auto;
}

.app-btn {
  display: flex;
  justify-content: space-between;
}

.description {
  height: 25vh;
  padding-top: 50px;
}

.navbar {
  justify-content: flex-end;
}

.navbar-toggler {
  border-color: white;
}

.ipad {
  margin-top: 12vh;
  height: 28vh;
}

.text {
  color: #ff9800;
  font-size: 16px;
}

.skew-overlay-right:after {
  background: #573402 !important;
}

.contact-section .footer-bottom.footer-bottom2 {
  padding-top: 0;
}

.rs-count {
  width: 100%;
  & div {
    float: left;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;

  a {
    font-weight: bold;
    color: white;
    &:hover {
      color: #ea9308;
    }
  }
  & > li {
    padding: 20px 0px 20px 20px;
  }
}
.language {
  position: relative;
  padding-left: 100px !important;
  &__list {
    display: flex;
  }
  &__item {
    margin-left: 0 !important;
    margin-right: 20px;

    a {
      border: 1px solid white;
      border-radius: 50%;
      padding: 2px;
      display: inline-block;
      & > span {
        padding: 5px;
        display: inline-block;
        border: 1px solid white;
        border-radius: 50%;
      }
      &:hover {
        background: $main;
        color: white !important;
      }
    }
  }
}

.features-app-section {
  background-image: url('../img/kawa/coffe1.png') !important;
  background-repeat: no-repeat;
  margin-top: -10vh;
  // background-attachment: relative;
}

.overlay {
  background: #ea9308;
  opacity: 0.95;
}

.features-icon {
  right: 10px;
  img {
    height: 85px;
  }
}

.feture-mid-images {
  img {
    height: 57vh;
  }
}

.faq-section {
  background-image: url('../img/kawa/bg2.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: -10vh;
}

.faq-section .panel {
  border: none;
}

.faq-section .panel .panel-heading h4.panel-title a {
  background: $main;
  border-radius: 10px;
}

.gallery-section {
  background-image: url('../img/kawa/bg3.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: -10vh;
}

.google-store-section {
  background-image: url(../img/kawa/coffe1.png) !important;
  background-repeat: no-repeat;
  margin-top: -10vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.sec-spacer {
  padding: 220px 0;
}

.contact-section2 {
  background-image: url('../img/kawa/bg4.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: -10vh;
  color: black;
}

.contact-link {
  display: inline-block;
  margin-bottom: 35px;

  &__thumb {
    margin-bottom: 30px;
  }
  &__btn {
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px 5px;
    background-color: #f8f8f8;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.35);
    &--viber {
      color: #7c519b;
    }

    &--messenger {
      color: #0084ff;
    }

    &--telegram {
      color: #2da5e1;
    }
    &:hover {
      color: $main;
    }
  }
}

.contact-text {
  font-size: 30px;
  letter-spacing: 1px;
  padding: 40px 0;
}

.contact-phone {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    font-size: 30px;
    img {
      margin-right: 20px;
    }
  }
}

.heading-section-center .subtitle-heading {
  font-size: 30px;
}
.heading-section-center .title-heading {
  font-size: 60px !important;
  line-height: 60px !important;
  &::before {
    width: 290px !important;
  }
}

.sub-title {
  font-size: 30px;
  letter-spacing: 1px;
}

.content-container {
  @include make-container();
  max-width: 1400px;
}

.features-service {
  font-size: 24px;
  h3 {
    font-size: 32px;
  }
}
@import 'media'; // Always at the end
