@import 'vars';
@import 'fonts';
@import 'libs';

html,
body {
  overflow-x: inherit !important;
}

body {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 999;
  padding: 20px 0;
  transition: 0.5s;
}

.logo {
  margin-top: 10px;
  img {
    height: 55px;
  }
}

.nav-menu {
  text-align: right;
  li {
    display: inline-block;
    font-size: 14px;
    margin-left: 22px;
    vertical-align: top;
    a {
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 70px;
    }
  }
}

.full-screenbg {
  // background-image: url('../img/coffee-texture-pattern-food-produce-crop-698630-pxhere.com.jpg');
  // background-image: url('../img/index-header-bg.jpg');
  // background-image: url('../img/bg-top-container.jpg');
  background-image: url('../img/slide-1.jpg');
  // background: linear-gradient(135deg, #ff9800, #573402);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  // min-height: 72vh;
  position: relative;
}

.inner {
  position: relative;
  overflow: hidden;
  padding-bottom: 130px;
  width: 100%;
  top: 100px;
}

.title {
  padding-top: 12vh;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
}

.subtitle {
  font-size: 25px;
  text-align: center;
  color: white;
}
.iphone {
  height: 550px;
  transform: rotateZ(-5deg);
  display: block;
  margin: 0 auto;
  // transform: rotateY(5deg);
}

.app-btn {
  text-align: center;
  ul li {
    display: block;
  }
}

.description {
  height: 25vh;
  padding-top: 50px;
}

.social {
  text-align: center;
  // padding-top: 35px;
}

.social-list__item {
  display: inline-block;
}
.social-list {
  display: inline-block;
  // font-size: 35px;
  padding: 0;
}

.social-list__item__link {
  height: 45px;
  width: 45px;
  display: block;
  text-align: center;

  font-size: 26px;
  border-radius: 50%;
  border: none;
  margin: 0;
  display: inline-block;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  transition: 0.3s;

  color: #505050;
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
  outline: none !important;
  font-weight: 400;
  i {
    margin-top: 10px;
  }
  &:hover {
    color: white;
    background: #ff9800;
  }
}

.navbar-toggler {
  border-color: white;
}

.ipad {
  margin-top: 12vh;
  height: 28vh;
}

.text {
  color: #ff9800;
  font-size: 16px;
}

.skew-overlay-right:after {
  background: #573402 !important;
}

.google-store-section {
  background-image: url('../img/google-store.jpg');
}

.contact-section .footer-bottom.footer-bottom2 {
  padding-top: 0;
}

.rs-count {
  width: 100%;
  & div {
    float: left;
  }
}
.language {
  position: relative;
  padding: 20px 0 20px 0;
  &__list {
  }
  &__item {
    margin-left: 0 !important;
    margin-right: 20px;
  }
}

.flag {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ukr {
  background-image: url('../img/flags/1200px-Flag_of_Ukraine.svg.png');
}

.us {
  background-image: url('../img/flags/1235px-Flag_of_the_United_States_\(Pantone\).svg.png');
}
.de {
  background-image: url('../img/flags/1000px-Flag_of_Germany.svg.png');
}

// .features-app-section {
//   background-image: url('../img/slide-1.jpg') !important;
//   background-repeat: no-repeat;
//   // background: url('../img/slide-1.jpg') !important;
//   background-attachment: relative;
// }

// .skew-overlay-down {
//   &::before,
//   &::after {
//     opacity: 0.5;
//   }
// }
@import 'media'; // Always at the end
